extends ../layout
block content
  .container
    .row
      h1
      a(href='/board/write') 쓰기
      // 번호, 제목, 작성자, 날짜, 조회수
      table(width='600')
        tr
          th(width='40') 번호
          th(width='260') 제목
          th(width='100') 작성자
          th(width='160') 날짜
          th(width='40') 조회
        - var len = data.length
        - for (var i=0;i<len;i++){
        tr
          td #{data[i].num}
          td
            a(href="/board/read/#{page}/#{data[i].num}") #{data[i].title}
          td #{data[i].id}
          td #{data[i].myregdate}
          td #{data[i].hit}

        -}

      div(style='width:46em;text-align:center;padding-top:2px')

        - if(page > pageSize){
        |[
        a(href='/board/list/1', style='text-decoration: none;') ◀◀
        |]
        |[
        a(href='/board/list/#{startPage-1}', style='text-decoration: none;') ◀
        |]
        -}

        - else {
        |[
        span(style='color:gray') ◀◀
        |]
        |[
        span(style='color:gray') ◀
        |]
        -}

        -for(var pagenum=startPage; pagenum<=endPage;pagenum++){
        -if(pagenum==page){
        | &nbsp; #{pagenum} &nbsp;
        -}
        -else{
          | &nbsp; [
          a(href="/board/list/#{pagenum}",style="text-decoration: none;") #{pagenum}
          | ] &nbsp;
        -}
        -}


        - if(endPage < totalPage){
        | [
        a(href='/board/list/#{endPage+1}', style='text-decoration: none;') ▶▶
        | ]
        | [
        a(href='/board/list/#{totalPage}', style='text-decoration: none;') ▶
        | ]
        -}

        - else {
        | [
        span(style='color:gray') ▶▶
        | ]
        | [
        span(style='color:gray') ▶
        | ]
        -}

