<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>
        <div class="container post post-show">
            <% include ./partials/frheader %>
                <div class="buttons">
                    <a class="btn btn-default" href="/frposts">Back</a>
                    <a class="btn btn-default" href="/frposts/<%= post._id %>/fredit">Edit</a>
                    <form action="/frposts/<%= post._id %>?_method=delete" method="post">
                        <a class="btn btn-default" href="#" onclick="confirm('정말로 글을 삭제 하시겠습니까?')?this.parentElement.submit():null;">Delete</a>
                    </form>
                </div>
                <div class="contentBox">
                    <h3 class="contentBoxTop">
                        <%= post.title %>
                    </h3>
                    <div class="row">
                        <div class="col-sm-4 col-sm-push-8">
                            <div class="post-info">
                                <!-- 글 작성자 표시 -->
                                <div><span>Author</span> :
                                    <% if(post.author != null){ %>
                                        <%= post.author.username %>
                                            <% } %>
                                </div>
                                <!-- 작성일 화면 표시 -->
                                <div><span>Created</span> :
                                    <%= post.createdDate %>
                                        <%= post.createdTime %>
                                </div>

                                <!-- 업데이트 날짜가 존재 시 화면에 출력 -->
                                <% if(post.updatedAt)
                  { %>
                                    <div>
                                        <span>Updated</span> :
                                        <%= post.updatedDate %>
                                            <%= post.updatedTime %>
                                    </div>
                                    <% } %>
                            </div>
                            <!-- post-info end -->
                        </div>
                        <!-- col end-->
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="post-body">
                                <%= post.body %>
                            </div>
                        </div>
                        <!-- col end-->
                    </div>
                    <!-- row end -->
                </div>
                <!-- post-container end -->
        </div>
        <!-- container end -->
        <% include ../partials/footer %>
</body>

</html>