<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>
    <div class="container post post-index ">
      <% include ./partials/header ﻿%>
      <div class="buttons">
          <a class="btn btn-default" href="/posts/new">New</a>
      </div>
      <table class="table table-striped posts">
        <thead>
            <tr>
                <th class="num">Num</th>
                <th class="title">Title</th>
                <th class="views">Views</th>
                <th class="date1">Date</th>
                <th class="author">Author</th>
            </tr>
        </thead>
        <tbody>
          <% if(posts == null || posts.length == 0){
             %>
            <tr>
                <td class="noData" colspan=100> There is no data to show :( </td>
            </tr>
            <% } %>
            <% posts.forEach(function(posts)
            {
               %>
            <tr>
                <td>
                  <%= posts.numId %>
                </td>
                <td class="title">
                    <a href="/posts/<%= posts._id %>">
                        <div>
                            <%= posts.title %>
                        </div>
                    </a>
                </td>
                <td><%= posts.views %></td>
                <td class="date1" name="date1" id="date1">
                    <%= posts.createdDate %>
                </td>
                <td  class="author" name="author" id="author" >
                <% if(posts.author != null)
                {
                    console.log(posts.author);
                  %>
                  <p name="postau">
                  <%= posts.author.username %>
             <% }  %>
                  </p>
                  </td>
            </tr>

            <% }) %>
        </tbody>
      </table>
    </div>
<!-- container end -->
   <% include ../partials/footer %>
</body>

</html>
