<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>
    <div class="container post post-index ">
      <% include ./partials/header ﻿%>
      <div class="buttons">
          <a class="btn btn-default" href="/posts/new">New</a>
      </div>
      <table class="table table-hover">
        <thead>
            <tr>
                <th class="num text-center">Num</th>
                <th class="title text-center" >Title</th>
                <th class="views text-right">Views</th>
                <th class="date1 text-right">Date</th>
                <th class="author text-right">Author</th>
            </tr>
        </thead>
        <tbody>
          <% if(posts == null || posts.length == 0){
             %>
            <tr>
                <td class="noData" colspan=100> There is no data to show :( </td>
            </tr>
            <% } %>
            <% posts.forEach(function(posts)
            {
               %>
            <tr>
                <td class="text-center">
                  <%= posts.numId %>
                </td>
                <td class="text-center">
                    <a href="/posts/<%= posts._id %>">
                        <div>
                            <%= posts.title %>
                            <span class="comments">(<%= posts.comments.length %>)</span>
                        </div>
                    </a>
                </td>
                <td class="text-right"><%= posts.views %></td>
                <td class="text-right">
                    <%= posts.createdDate %>
                </td>
                <td class="text-right">
                <% if(posts.author != null)
                {
                    console.log(posts.author);
                  %>
                  <p name="postau">
                  <%= posts.author.username %>
             <% }  %>
                  </p>
                  </td>
            </tr>

            <% }) %>
        </tbody>
      </table>
    </div>
<!-- container end -->
   <% include ../partials/footer %>
</body>

</html>
