extends ../layout
block content
    form(action="signup" method="post")
        strong 필수
        br
        | 아이디 :
        input(type=text name="id")
        br
        | 비밀번호 :
        input(type=password name="pw")
        br
        | 이름(실명) :
        input(type=text name="name")

        hr
        |선택
        br
        br
        | 이메일 :
        input(type=text name="email")
        br
        | 생년 :
        input(type=number name="birthyear")
        br
        | 연락처 :
        input(type=text name="mob")

        br
        input(type="submit")





//<!DOCTYPE html>
//<html>
//<head>
//    <meta charset="UTF-8">
//    <title><%=title %></title>
//    <link rel='stylesheet' href='/stylesheets/style.css' />
//
//    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
//
//    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
//
//    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
//</head>
//    <body>
//
//        <form action="signup" method="post">
//
//            필수<br><br>

//            아이디 : <input type="text" name="id"><br>
//            비밀번호 : <input type="password" name="pw"><br>
//            이름(실명) : <input type="text" name="name"><br>

//            <hr>

//            선택<br><br>

//            이메일 : <input type="text" name="email"><br>
//            생년 : <input type="number" name="birthyear"><br>
//            연락처 : <input type="text" name="mob"><br><br>
//           <input type="submit">

//        </form>

//    </body>
//</html>